.CartItem {
    padding-top: 5px;
    padding-bottom: 5px;
}


.Image {
    margin-right: 30px;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    align-self: center;
}

.Title {
    
    font-family: "Montserrat";
    font-weight: 600;
    font-size: medium;
    color: #d40000;
}

.Text {
    font-family: "Roboto";
    font-size: small;
    color: #28963C;
}