.MenuListing {
    width: 80%;
    text-align: left;
    color: #fff;
}

.SectionHeading {
    font-family: 'Montserrat';
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: large;
    margin-bottom: 20px;
}