.ItemContainer {
    margin: 10px 0;
    position: relative;
}

.NavLink {
    font-family: 'Montserrat';
    font-weight: 700;
    letter-spacing: 0.1em;
    box-sizing: border-box;
    width: 100%;
    color: #ffffff;
    transition: 0.3s;
    text-decoration: none;
}

.Cart {
    content: "";
    height: 18px;
    width: 18px;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/images/shopping_cart_white.png');
}

.CartActive {
    content: "";
    height: 18px;
    width: 18px;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/images/shopping_cart_red.png');
}

.NavLink:hover {
    color: #d40000;
}

.NavLinkActive {
    color: #d40000;
}


@media (min-width: 500px) {
    
    .NavLink {
        color: #ffffff;
        padding: 16px 10px;
        text-decoration: none;
    }

    .NavLink:hover {
        color: #d40000;
    }

    .NavLinkActive {
        color: #d40000;
    }

    .NavLinkActive:hover {
        color: #d40000;
    }
}